/* 
    Colors Code
    #515050
    #ABA8A8
    #FFFFFF
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Roboto', sans-serif;
*/

:root{
    --color-background: #fff;
    --color-text: #fff;
    --color-dark-background: #515050;
    --color-soft-background: #ABA8A8;
}

@font-face {
    font-family: 'Belanosima', sans-serif;
    src: url(../fonts/Belanosima/Belanosima-Regular.ttf);
    font-family: 'Ubuntu Mono', monospace;
    src: url(../fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--color-background);
}

#main {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid black;
}

#header {
    width: 100%;
    height: 100px;
    background: var(--color-dark-background);
    color: var(--color-text);
    text-shadow: 0px 0px 35px black;
    text-align: center;
    line-height: 90px;
}

#section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}

#footer {
    width: 100%;
    height: 40px;
    background: var(--color-dark-background);
    font-size: 15px;
    color: var(--color-text);
    text-align: center;
    line-height: 40px;
}